# Elba
ELBA_SOURCE_ID="0442f541-45d2-487a-9e4b-de03ce4c559e"

# Nango
NANGO_SECRET_KEY="test-nango-secret"
NANGO_INTEGRATION_ID="loom-scim-sandbox"

# Source Configuration
LOOM_SCIM_USERS_SYNC_CRON="0 0 * * *"
LOOM_SCIM_USERS_SYNC_BATCH_SIZE=100
